<footer id="keyple-footer">
    <div class="container">
        <div class="row">
            <section id="footer-more">
                <h4 class="section-title">More</h4>
                <ul>
                    <li><a href="https://github.com/eclipse/keyple" title="View Source Code on GitHub"><i class='fab fa-github'></i> GitHub Repository</a></li>
                    <li><a href="https://twitter.com/keyple_org" title="Follow us on Twitter"><i class='fab fa-twitter'></i> Twitter</a></li>
                    <li><a href="https://accounts.eclipse.org/mailing-list/keyple-user" title="Keyple progress information and user discussions"><i class='fas fa-envelope'></i> User mailing list</a></li>
                    <li><a href="https://accounts.eclipse.org/mailing-list/keyple-dev" title="Keyple developer discussions"><i class='fas fa-envelope'></i> Developer mailing list</a></li>
                </ul>
            </section>
            <section id="footer-eclipse-foundation">
                <h4 class="section-title">{{ i18n "eclipse-foundation-text" }}</h4>
                <ul>
                    <li><a href="https://www.eclipse.org/org/">{{ i18n "footer-foundation-about-us-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/foundation/contact.php">{{ i18n "footer-foundation-contact-us-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/donate">{{ i18n "footer-foundation-donate-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/membership">{{ i18n "footer-foundation-members-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/documents/">{{ i18n "footer-foundation-governance-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php">{{ i18n "footer-foundation-code-of-conduct-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/artwork/">{{ i18n "footer-foundation-logo-artwork-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/foundation/directors.php">{{ i18n "footer-foundation-board-of-directors-text" }}</a></li>
                </ul>
            </section>
            <section id="footer-legal">
                <h4 class="section-title">{{ i18n "footer-legal-section-text" }}</h4>
                <ul>
                    <li><a href="https://www.eclipse.org/legal/privacy.php">{{ i18n "footer-legal-privacy-policy-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/termsofuse.php">{{ i18n "footer-legal-terms-use-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/copyright.php">{{ i18n "footer-legal-copyright-agent-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/epl-2.0/">{{ i18n "footer-legal-epl-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/">{{ i18n "footer-legal-resources-text" }} </a></li>
                    <li><a href="https://eclipse.org/security/" target="_blank">Report a Vulnerability</a></li>
                </ul>
            </section>
        </div>
    </div>
</footer>