<style type="text/css"  media="screen">
footer {
    background-color: #1D87BB;
}
footer a {
    color: #FFF;
}
footer ul {
    padding-left: 0;
}
footer li {
    line-height: 1.42857143;
    position: relative;
    display: block;
    color: #FFF;
}
</style>

<footer class="site-footer">
    <div class="container">
        <div class="row featurette">
            <div class="col-12 col-sm-4">
                <h4>{{ i18n "footer-more-section-text" }}</h4>
                <ul>
                    <li><a href="https://github.com/eclipse/keyple" title="View Source Code on GitHub"><i class='fab fa-github'></i> {{ i18n "footer-more-github-repository-text" }}</a></li>
                    <li><a href="https://twitter.com/keyple_org" title="Follow us on Twitter"><i class='fab fa-twitter'></i> {{ i18n "footer-more-twitter-text" }}</a></li>
                    <li><a href="https://accounts.eclipse.org/mailing-list/keyple-user" title="Keyple progress information and user discussions"><i class='fas fa-envelope'></i> {{ i18n "footer-more-user-mailing-list-text" }}</a></li>
                    <li><a href="https://accounts.eclipse.org/mailing-list/keyple-dev" title="Keyple developer discussions"><i class='fas fa-envelope'></i> {{ i18n "footer-more-developer-mailing-list-text" }}</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4">
                <h4>{{ i18n "footer-eclipse-foundation-section-text" }}</h4>
                <ul>
                    <li><a href="https://www.eclipse.org/org/">{{ i18n "footer-eclipse-foundation-about-us-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/foundation/contact.php">{{ i18n "footer-eclipse-foundation-contact-us-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/donate">{{ i18n "footer-eclipse-foundation-donate-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/membership">{{ i18n "footer-eclipse-foundation-members-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/documents/">{{ i18n "footer-eclipse-foundation-governance-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php">{{ i18n "footer-eclipse-foundation-code-of-conduct-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/artwork/">{{ i18n "footer-eclipse-foundation-logo-artwork-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/org/foundation/directors.php">{{ i18n "footer-eclipse-foundation-board-of-directors-text" }}</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4">
                <h4>{{ i18n "footer-legal-section-text" }}</h4>
                <ul>
                    <li><a href="https://www.eclipse.org/legal/privacy.php">{{ i18n "footer-legal-privacy-policy-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/termsofuse.php">{{ i18n "footer-legal-terms-use-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/copyright.php">{{ i18n "footer-legal-copyright-agent-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/epl-2.0/">{{ i18n "footer-legal-epl-text" }}</a></li>
                    <li><a href="https://www.eclipse.org/legal/">{{ i18n "footer-legal-resources-text" }} </a></li>
                    <li><a href="https://eclipse.org/security/" target="_blank">{{ i18n "footer-legal-report-a-vulnerability-text" }} </a></li>
                </ul>
            </section>
        </div>
    </div>
    {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
    <p class="powered-by">
        {{ with site.GetPage "privacy.md" }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
        {{ end }}
        {{ with site.GetPage "terms.md" }}
        {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
        {{ end }}
    </p>
    {{ end }}

    <p class="powered-by">
        {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
    </p>

    {{/* Display copyright license. */}}
    {{ partial "site_footer_license" . }}

    <p class="powered-by">
        Powered by the
        <a href="https://sourcethemes.com/academic/" target="_blank" rel="noopener">Academic theme</a> for
        <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a>.

        {{ if not (in (slice "docs" "updates") .Type) }}
        <span class="float-right" aria-hidden="true">
      <a href="#" class="back-to-top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
        {{ end }}
    </p>
</footer>
