<div class='container' style='margin: 0; padding: 0'>
    <div class='table-responsive'>
        <table id='repos-table' class='table table-striped' data-sort-name='updated' data-sort-order='desc'>
            <thead>
            <tr>
                <th scope='col'>Repository</th>
                <th scope='col'>CI</th>
                <th scope='col'>Latest release</th>
                <th scope='col'>Latest tag</th>
                <th scope='col' data-field='updated'>Last update</th>
                <th scope='col'>Issues</th>
                <th scope='col'>Branches</th>
                <th scope='col'>PRs</th>
                <th scope='col'>Forks</th>
                <th scope='col'>Stars</th>
            </tr>
            </thead>
            <tbody id="repos-table-body">
            <tr id="15" role="row" class="odd">
                <td><a title="keyple-service-resource-java-lib"
                       href="https://github.com/eclipse/keyple-service-resource-java-lib" target="_blank">keyple-service-resource-java-lib</a>
                </td>
                <td id="repos-status-15"><a title="CI status page"
                                            href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-service-resource-java-lib/job/main/"
                                            target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-15">∅</td>
                <td id="latest-tag-15">2.0.0-rc2</td>
                <td class="sorting_1">2021/07/12 11:47:50</td>
                <td id="issue-15">0</td>
                <td id="branch-15">2</td>
                <td id="pull-15">0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr id="13" role="row" class="even">
                <td><a title="keyple-plugin-stub-java-lib" href="https://github.com/eclipse/keyple-plugin-stub-java-lib"
                       target="_blank">keyple-plugin-stub-java-lib</a></td>
                <td id="repos-status-13"><a title="CI status page"
                                            href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-plugin-stub-java-lib/job/main/"
                                            target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-13">∅</td>
                <td id="latest-tag-13">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 19:03:41</td>
                <td id="issue-13">0</td>
                <td id="branch-13">1</td>
                <td id="pull-13">0</td>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr id="2" role="row" class="odd">
                <td><a title="keyple-card-generic-java-lib"
                       href="https://github.com/eclipse/keyple-card-generic-java-lib" target="_blank">keyple-card-generic-java-lib</a>
                </td>
                <td id="repos-status-2"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-card-generic-java-lib/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-2">∅</td>
                <td id="latest-tag-2">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 15:44:04</td>
                <td id="issue-2">0</td>
                <td id="branch-2">1</td>
                <td id="pull-2">0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr id="1" role="row" class="even">
                <td><a title="keyple-card-calypso-java-lib"
                       href="https://github.com/eclipse/keyple-card-calypso-java-lib" target="_blank">keyple-card-calypso-java-lib</a>
                </td>
                <td id="repos-status-1"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-card-calypso-java-lib/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-1">∅</td>
                <td id="latest-tag-1">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 15:43:30</td>
                <td id="issue-1">0</td>
                <td id="branch-1">1</td>
                <td id="pull-1">0</td>
                <td>7</td>
                <td>3</td>
            </tr>
            <tr id="8" role="row" class="odd">
                <td><a title="keyple-distributed-remote-java-lib"
                       href="https://github.com/eclipse/keyple-distributed-remote-java-lib" target="_blank">keyple-distributed-remote-java-lib</a>
                </td>
                <td id="repos-status-8"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-distributed-remote-java-lib/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-8">∅</td>
                <td id="latest-tag-8">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 15:12:04</td>
                <td id="issue-8">0</td>
                <td id="branch-8">1</td>
                <td id="pull-8">0</td>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr id="5" role="row" class="even">
                <td><a title="keyple-distributed-local-java-lib"
                       href="https://github.com/eclipse/keyple-distributed-local-java-lib" target="_blank">keyple-distributed-local-java-lib</a>
                </td>
                <td id="repos-status-5"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-distributed-local-java-lib/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-5">∅</td>
                <td id="latest-tag-5">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 15:11:27</td>
                <td id="issue-5">0</td>
                <td id="branch-5">1</td>
                <td id="pull-5">0</td>
                <td>4</td>
                <td>1</td>
            </tr>
            <tr id="14" role="row" class="odd">
                <td><a title="keyple-service-java-lib" href="https://github.com/eclipse/keyple-service-java-lib"
                       target="_blank">keyple-service-java-lib</a></td>
                <td id="repos-status-14"><a title="CI status page"
                                            href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-service-java-lib/job/main/"
                                            target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-14">∅</td>
                <td id="latest-tag-14">2.0.0-rc4</td>
                <td class="sorting_1">2021/07/09 14:43:11</td>
                <td id="issue-14">0</td>
                <td id="branch-14">1</td>
                <td id="pull-14">0</td>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr id="12" role="row" class="even">
                <td><a title="keyple-plugin-pcsc-java-lib" href="https://github.com/eclipse/keyple-plugin-pcsc-java-lib"
                       target="_blank">keyple-plugin-pcsc-java-lib</a></td>
                <td id="repos-status-12"><a title="CI status page"
                                            href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-plugin-pcsc-java-lib/job/main/"
                                            target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-12">∅</td>
                <td id="latest-tag-12">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 14:41:26</td>
                <td id="issue-12">0</td>
                <td id="branch-12">1</td>
                <td id="pull-12">0</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr id="10" role="row" class="odd">
                <td><a title="keyple-plugin-android-omapi-java-lib"
                       href="https://github.com/eclipse/keyple-plugin-android-omapi-java-lib" target="_blank">keyple-plugin-android-omapi-java-lib</a>
                </td>
                <td id="repos-status-10"><a title="CI status page"
                                            href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-plugin-android-omapi-java-lib/job/main/"
                                            target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-10">∅</td>
                <td id="latest-tag-10">2.0.0-rc2</td>
                <td class="sorting_1">2021/07/09 14:40:19</td>
                <td id="issue-10">0</td>
                <td id="branch-10">1</td>
                <td id="pull-10">0</td>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr id="9" role="row" class="even">
                <td><a title="keyple-plugin-android-nfc-java-lib"
                       href="https://github.com/eclipse/keyple-plugin-android-nfc-java-lib" target="_blank">keyple-plugin-android-nfc-java-lib</a>
                </td>
                <td id="repos-status-9"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-plugin-android-nfc-java-lib/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-9">∅</td>
                <td id="latest-tag-9">2.0.0-rc2</td>
                <td class="sorting_1">2021/07/09 14:39:41</td>
                <td id="issue-9">0</td>
                <td id="branch-9">1</td>
                <td id="pull-9">0</td>
                <td>6</td>
                <td>2</td>
            </tr>
            <tr id="6" role="row" class="odd">
                <td><a title="keyple-distributed-network-java-lib"
                       href="https://github.com/eclipse/keyple-distributed-network-java-lib" target="_blank">keyple-distributed-network-java-lib</a>
                </td>
                <td id="repos-status-6"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-distributed-network-java-lib/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-6">∅</td>
                <td id="latest-tag-6">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 14:38:41</td>
                <td id="issue-6">0</td>
                <td id="branch-6">1</td>
                <td id="pull-6">0</td>
                <td>4</td>
                <td>1</td>
            </tr>
            <tr id="16" role="row" class="even">
                <td><a title="keyple-util-java-lib" href="https://github.com/eclipse/keyple-util-java-lib"
                       target="_blank">keyple-util-java-lib</a></td>
                <td id="repos-status-16"><a title="CI status page"
                                            href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-util-java-lib/job/main/"
                                            target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-16">∅</td>
                <td id="latest-tag-16">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 12:45:24</td>
                <td id="issue-16">0</td>
                <td id="branch-16">1</td>
                <td id="pull-16">0</td>
                <td>5</td>
                <td>1</td>
            </tr>
            <tr id="11" role="row" class="odd">
                <td><a title="keyple-plugin-java-api" href="https://github.com/eclipse/keyple-plugin-java-api"
                       target="_blank">keyple-plugin-java-api</a></td>
                <td id="repos-status-11"><a title="CI status page"
                                            href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-plugin-java-api/job/main/"
                                            target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-11">∅</td>
                <td id="latest-tag-11">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 12:44:48</td>
                <td id="issue-11">0</td>
                <td id="branch-11">1</td>
                <td id="pull-11">0</td>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr id="7" role="row" class="even">
                <td><a title="keyple-distributed-remote-java-api"
                       href="https://github.com/eclipse/keyple-distributed-remote-java-api" target="_blank">keyple-distributed-remote-java-api</a>
                </td>
                <td id="repos-status-7"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-distributed-remote-java-api/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-7">∅</td>
                <td id="latest-tag-7">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 12:44:11</td>
                <td id="issue-7">0</td>
                <td id="branch-7">1</td>
                <td id="pull-7">0</td>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr id="4" role="row" class="odd">
                <td><a title="keyple-distributed-local-java-api"
                       href="https://github.com/eclipse/keyple-distributed-local-java-api" target="_blank">keyple-distributed-local-java-api</a>
                </td>
                <td id="repos-status-4"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-distributed-local-java-api/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-4">∅</td>
                <td id="latest-tag-4">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 12:43:38</td>
                <td id="issue-4">0</td>
                <td id="branch-4">1</td>
                <td id="pull-4">0</td>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr id="3" role="row" class="even">
                <td><a title="keyple-common-java-api" href="https://github.com/eclipse/keyple-common-java-api"
                       target="_blank">keyple-common-java-api</a></td>
                <td id="repos-status-3"><a title="CI status page"
                                           href="https://ci.eclipse.org/keyple/job/Keyple/job/keyple-common-java-api/job/main/"
                                           target="_blank" style="color: green;">⬤</a></td>
                <td id="latest-release-3">∅</td>
                <td id="latest-tag-3">2.0.0-rc3</td>
                <td class="sorting_1">2021/07/09 12:43:06</td>
                <td id="issue-3">0</td>
                <td id="branch-3">1</td>
                <td id="pull-3">0</td>
                <td>5</td>
                <td>2</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type='module'>
    $('#repos-table').dataTable({'lengthChange': false, 'pageLength': 50, 'order': [[4, 'desc']]});
    $('.dataTables_length').addClass('bs-select');
    // // https://dev.to/gr2m/github-api-authentication-personal-access-tokens-53kd
    // import {Octokit} from 'https://cdn.pika.dev/@octokit/core';
    //
    // const octokit = new Octokit({auth: ''});
    //
    // // define repositories
    // let repos = [
    //     'keyple-card-calypso-java-lib',
    //     'keyple-card-generic-java-lib',
    //     'keyple-common-java-api',
    //     'keyple-distributed-local-java-api',
    //     'keyple-distributed-local-java-lib',
    //     'keyple-distributed-network-java-lib',
    //     'keyple-distributed-remote-java-api',
    //     'keyple-distributed-remote-java-lib',
    //     'keyple-plugin-android-nfc-java-lib',
    //     'keyple-plugin-android-omapi-java-lib',
    //     'keyple-plugin-java-api',
    //     'keyple-plugin-pcsc-java-lib',
    //     'keyple-plugin-stub-java-lib',
    //     'keyple-service-java-lib',
    //     'keyple-service-resource-java-lib',
    //     'keyple-util-java-lib'
    // ];
    //
    // let owner = 'eclipse';
    //
    // // create promises
    // const body = document.getElementById('repos-table-body'); // reposTable.insertRow(-1);
    // let promises = [];
    // for (let i = 0; i < repos.length; i++) {
    //     let promise = getReposData((i + 1).toString(), owner, repos[i])
    //     promises.push(promise);
    // }
    //
    // (async () => {
    //     await Promise.all(promises)
    //         .finally(function () {
    //             $('#repos-table').dataTable({'lengthChange': false, 'pageLength': 50, 'order': [[4, 'desc']]});
    //             $('.dataTables_length').addClass('bs-select');
    //         });
    // })();
    //
    //
    // async function getReposData(rowIndex, owner, repos) {
    //
    //     // create row
    //     let newRow = body.insertRow();
    //     newRow.id = rowIndex;
    //
    //     const result = await octokit.request('GET /repos/' + owner + '/' + repos);
    //
    //     // new row
    //     const row = document.getElementById(rowIndex); // reposTable.insertRow(-1);
    //
    //     // column repos name
    //     let cell = row.insertCell(-1);
    //     const a = document.createElement('a');
    //     const linkText = document.createTextNode(result.data.name);
    //     a.appendChild(linkText);
    //     a.title = result.data.name;
    //     a.href = result.data.html_url;
    //     a.target = '_blank';
    //     cell.appendChild(a);
    //
    //     // column repos status
    //     cell = row.insertCell(-1);
    //     cell.setAttribute('id', 'repos-status-' + rowIndex);
    //
    //     // column latest release
    //     cell = row.insertCell(-1);
    //     cell.setAttribute('id', 'latest-release-' + rowIndex);
    //     cell.appendChild(document.createTextNode(''));
    //
    //     // column latest tag
    //     cell = row.insertCell(-1);
    //     cell.setAttribute('id', 'latest-tag-' + rowIndex);
    //     cell.appendChild(document.createTextNode(''));
    //
    //     // column updated
    //     cell = row.insertCell(-1);
    //     cell.appendChild(document.createTextNode(formatDate(result.data.pushed_at)));
    //
    //     // column issues
    //     cell = row.insertCell(-1);
    //     cell.setAttribute('id', 'issue-' + rowIndex);
    //     cell.appendChild(document.createTextNode(''));
    //
    //     // column branches
    //     cell = row.insertCell(-1);
    //     cell.setAttribute('id', 'branch-' + rowIndex);
    //     cell.appendChild(document.createTextNode(''));
    //
    //     // column pull requests
    //     cell = row.insertCell(-1);
    //     cell.setAttribute('id', 'pull-' + rowIndex);
    //     cell.appendChild(document.createTextNode(''));
    //
    //     // column forks
    //     cell = row.insertCell(-1);
    //     cell.appendChild(document.createTextNode(result.data.forks.toString()));
    //
    //     // column stars
    //     cell = row.insertCell(-1);
    //     cell.appendChild(document.createTextNode(result.data.stargazers_count.toString()));
    //
    //     // get complementary data
    //     await getBranches(rowIndex, owner, repos);
    //     await getPullData(rowIndex, owner, repos, result.data.open_issues);
    //     await getLatestRelease(rowIndex, owner, repos);
    //     await getLatestTag(rowIndex, owner, repos);
    //     await getStatus(rowIndex, owner, repos);
    //
    //     // debug
    //     console.log(result.data);
    // }
    //
    // async function getBranches(rowIndex, owner, repos) {
    //     const result = await octokit.request('GET /repos/' + owner + '/' + repos + '/branches');
    //     let cell = document.getElementById('branch-' + rowIndex);
    //     cell.innerHTML = '' + result.data.length;
    // }
    //
    // async function getPullData(rowIndex, owner, repos, issues) {
    //     const result = await octokit.request('GET /repos/' + owner + '/' + repos + '/pulls');
    //     let cell = document.getElementById('pull-' + rowIndex);
    //     if (false) { //result.data.length) {
    //         const a = document.createElement('a');
    //         const linkText = document.createTextNode(result.data.length);
    //         a.appendChild(linkText);
    //         a.title = result.data.name;
    //         a.href = result.data.html_url + '/pulls';
    //         a.target = '_blank';
    //         cell.appendChild(a);
    //     } else {
    //         cell.innerHTML = result.data.length;
    //     }
    //     cell = document.getElementById('issue-' + rowIndex);
    //     cell.innerHTML = '' + (issues - result.data.length);
    // }
    //
    // async function getLatestRelease(rowIndex, owner, repos) {
    //     let cell = document.getElementById('latest-release-' + rowIndex);
    //     try {
    //         const result = await octokit.request('GET /repos/' + owner + '/' + repos + '/releases/latest');
    //         cell.innerHTML = result.data.tag_name;
    //     } catch (err) {
    //         cell.innerHTML = '\u2205';
    //     }
    // }
    //
    // async function getLatestTag(rowIndex, owner, repos) {
    //     let cell = document.getElementById('latest-tag-' + rowIndex);
    //     try {
    //         const result = await octokit.request('GET /repos/' + owner + '/' + repos + '/tags');
    //         cell.innerHTML = result.data[0].name;
    //     } catch (err) {
    //         cell.innerHTML = '\u2205';
    //     }
    // }
    //
    // async function getStatus(rowIndex, owner, repos) {
    //     let cell = document.getElementById('repos-status-' + rowIndex);
    //     let result;
    //     let branch;
    //
    //     try {
    //         result = await octokit.request('GET /repos/' + owner + '/' + repos + '/commits/main/status');
    //         branch = 'main';
    //     } catch (err) {
    //         try {
    //             result = await octokit.request('GET /repos/' + owner + '/' + repos + '/commits/master/status');
    //             branch = 'master';
    //         } catch (err) {
    //             cell.innerHTML = '\u2b58';
    //             return;
    //         }
    //     }
    //
    //     const a = document.createElement('a');
    //     const linkText = document.createTextNode('\u2b24');
    //     a.appendChild(linkText);
    //     a.title = 'CI status page';
    //     a.href = 'https://ci.eclipse.org/keyple/job/Keyple/job/' + repos + '/job/' + branch + '/';
    //     a.target = '_blank';
    //     //a.style.textDecoration = 'underline';
    //
    //     switch (result.data.state) {
    //         case 'error':
    //         case 'failure':
    //             a.style.color = 'red';
    //             break;
    //         case 'pending':
    //             a.style.color = 'orange';
    //             break;
    //         case 'success':
    //             a.style.color = 'green';
    //             break;
    //     }
    //
    //     cell.appendChild(a);
    // }
    //
    // function formatDate(dateString) {
    //     let d = new Date(dateString),
    //         month = '' + (d.getMonth() + 1),
    //         day = '' + d.getDate(),
    //         year = d.getFullYear(),
    //         hour = '' + d.getHours(),
    //         min = '' + d.getMinutes(),
    //         sec = '' + d.getSeconds();
    //
    //     if (month.length < 2)
    //         month = '0' + month;
    //     if (day.length < 2)
    //         day = '0' + day;
    //     const date = [year, month, day].join('/');
    //
    //     if (hour.length < 2)
    //         hour = '0' + hour;
    //     if (min.length < 2)
    //         min = '0' + min;
    //     if (sec.length < 2)
    //         sec = '0' + sec;
    //
    //     const time = [hour, min, sec].join(':');
    //
    //     return date + ' ' + time;
    // }
</script>